<div>
    <h2>Datos del User ({{idx}})</h2>

    Nombre: <b>{{name}}</b><br>
    Apellido: <i>{{lastname}}</i><br>
    Edad: <b>{{age}}</b><br>
    <hr>
    Email: {{email}}<br>
    Telefono: {{phone}}
</div>