<h1>Realtime</h1>
<br>
<table id="productsTable">
    <tr>
        <td><strong>Producto</strong></td>
        <td><strong>Descripción</strong></td>
        <td><strong>Precio</strong></td>
        <td><strong>Código</strong></td>
        <td><strong>Stock</strong></td>
        <td><strong>Categoría</strong></td>
    </tr>
    {{#each data}}
    <tr>
    <td>{{this.title}}</td>
    <td>{{this.description}}</td>
    <td>{{this.price}}</td>
    <td>{{this.code}}</td>
    <td>{{this.stock}}</td>
    <td>{{this.category}}</td>
    </tr>
    {{/each}}  
</table>
<div id="moving"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>